/* small devices */

@media only screen and (max-width:688px) {
    .main-menu{
        flex-direction: column;
        padding: 0 25px;
    }
    ul li a{
        margin-left: 25px;
    }
    .menu-item ul {
        display: flex;
        padding: 0;
        margin-top: 25px;
    }
    .feature-image{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .header-title-description{
        padding: 0 25px;
    }

    .our-features{
        margin-top: 85px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 25px;
        align-items: center;
    }
    .feature-view{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
        grid-column-gap: 24px;
        justify-items: center;
    }
    .feature-content{
        margin-top: 85px;
        text-align: center;
        padding: 0 25px;
    }

    .love-and-enjoy{
        padding: 0 25px;
    }
    .love-enjoy{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
        justify-items: center;
    }
    .love-paragraph{
    width: 100%;
}
    .topic{
        width: 100%;
    }
    .architect{
    position: relative;
    left: 0;
}
    .architect img{
        width: 100%;

    }
    .yr-btn{
    position: relative;
    top: -25%;
    left: 05%;
    }
    .yr-btn p{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 14px;
}

}


/* Medium devices */

@media only screen and (min-width:689px) and (max-width:992px) {
    .main-menu{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    ul li a{
        margin-left: 30px;
    }
    .feature-image{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .our-features{
        margin-top: 85px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 50px;
        align-items: center;
    }
    .feature-view{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 24px;
        grid-column-gap: 24px;
        justify-items: center;
    }
    .feature-content{
        margin-top: 85px;
        text-align: center;
        padding: 0 25px;
    }

    .love-and-enjoy{
        margin-top: 60px;
    }
    .love-enjoy{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
    }

    .love-and-enjoy{
        padding: 0 25px;
    }
    .love-enjoy{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
        justify-items: center;
    }
    .love-paragraph{
    width: 100%;
}
    .topic{
        width: 100%;
    }
    .architect{
    position: relative;
    left: 0;
}
    .architect img{
        width: 100%;

    }
    .yr-btn{
    position: relative;
    top: -25%;
    left: 0%;
    }
    .yr-btn p{
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 24px;
}
}