/* Start importing fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* End importing fonts */



/* Start Universal Selector */
*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}
/* End Universal Selector */





/* Start Html Tag Styles */
body{
    font-family: 'Work Sans', sans-serif;
}

header{
    background: rgba(255, 144, 14, 0.1);
}
/* End Html Tag Styles */





/* Start Common Styles */
.btn-primary{
    color: #fff;
    font-size: 20px;
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
    padding: 0;
}
.paragraph-text{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
/* End Common Styles */





/* Start Header Menu Styles */
.header{
    padding-top: 50px;
    padding-bottom: 45px;
}
.main-menu{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.menu-item ul{
    display: flex;
}

ul li{
    list-style: none;
}

ul li a{
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    margin-left: 75px;
}




/* End Header Menu Styles */
.header-content{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-title{
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    margin-top: 102px;
}
.header-title-description{
    text-align: center;
    margin-top: 32px;
}
.feature-image{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
/* End Header Content Styles */





/* Start Main Styles */
.main{
    max-width: 1440px;
    margin: 0 auto;
}







/* Start our features section style */
.our-features{
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 75px;
    align-items: center;
}
.feature-view{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}
h3 .q-list{
    color:#727272;
    font-size: 45px;
    font-weight: 400;
}
h3 .o-our{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
h3 .f-feature{
    color:#FF900E;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
}
.paragraph-text{
    margin-top: 24px;
}
/* End our features section style */





/* Start love-and-enjoy section style */
.love-and-enjoy{
    margin-top: 130px;
}
.love-enjoy{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
}
.f-enjoy{
    margin-top: 30px;
    border-left: 8px solid #FF900E;
}
.love-title{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    padding-left: 21px;
}
.love-paragraph{
    width: 616px;
}
.about-topics{
    margin-top: 30px;
}
.topic{
    margin-top: 20px;
    background-color: #fff;
    padding: 30px;
    width: 616px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.sub-title{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}
.topic-paragraph{
    margin-top: 10px;
}

.architect{
    position: relative;
    left: 100px;
}
.yr-btn{
    width: 342px;
    height: 200px;
    position: relative;
    top: -100px;
    left: -100px;  
}
.yr-btn p{
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 42px;
}
.yr-btn span{
    font-size: 25px;
    font-weight: 500;
}
/* End love-and-enjoy section style */





/* Start facts section style */
.some-facts{
    margin-top: 130px;
}
.facts-title{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
.boxs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.box:hover{
    background-color: #FFF4E7;
}
.box img{
    width: 45px;
    height: 45px;
}
.box h3{
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    margin-top: 10px;
}
.box p{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
    margin-top: 5px;
}
/* End facts section style */





/* Start Our sponsors section style */
.sponsors{
    margin-top: 180px;
}
.sponsors-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    text-align: center;
}
.sponsors-text{
    text-align: center;
    justify-content: center;
}
.sponsors-brands{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}
/* End Our sponsors section style */
/* End main Styles */




/* Start portfolio Section Styles */
.skills-title{
    margin-top: 130px;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    text-align: center;
}
.skills-color{
    color: #FF900E;
}
.images{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap:25px;
}
.images img{
    width: 360px;
    height: 202.47px;
}
.image-1:hover{
    transform: scale(200%);
    transition: 0.5s;
}
.image-2:hover{
    transform: scale(200%);
    transition: 0.5s;
}
.image-3:hover{
    transform: scale(200%);
    transition: 0.5s;
}
.image-4:hover{
    transform: scale(200%);
    transition: 0.5s;
}
/* End portfolio Section Styles */




/* Start Footer Styles */
.footer{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    background-color: #FFF4E7;
    width: 1440px;
    height: 100px;
    border-radius: 8px;
}
.footer-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #424242;
}
/* End Footer Styles */