/* Start importing fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* End importing fonts */





/* Start Universal Selector */

*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

/* End Universal Selector */





/* Start Html Tag Styles */

body{
    font-family: 'Work Sans', sans-serif;
}

header{
    background: rgba(255, 144, 14, 0.1);
}

/* End Html Tag Styles */





/* Start Common Styles */
.btn-primary{
    color: #fff;
    font-size: 20px;
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
    padding: 0;
}
/* End Common Styles */





/* Start Header Menu Styles */
.header{
    padding-top: 50px;
    padding-bottom: 45px;
}
.main-menu{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.menu-item ul{
    display: flex;
}

ul li{
    list-style: none;
}

ul li a{
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    margin-left: 75px;
}

/* End Header Menu Styles */


.header-content{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-title{
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    margin-top: 102px;
}
.header-title-description{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-top: 32px;
}

.feature-image{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}


/* Start Header Content Styles */